*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: aquamarine;
}

.bg{
      /* background-color: brown;  */
     background-image:linear-gradient(rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)), url(Asset/image3.jpg); 
    height: 100vh;
    background-position: center;
    width: 100%;
    background-size: cover;
    
}

.banner-page{
    justify-content: center;
    margin-top: 150px;
    text-align: center;
}

a:hover{
    border-bottom:2px solid red;
    padding: 3px ;
}


   ul{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    margin: auto;
   }

   a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 26px;
   }

   .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .logo{
    /* width: 200px;
    height: 100px; */
    justify-content: center;
    color: transparent;
    -webkit-text-stroke: #f7f0f0;
    background-image: linear-gradient(#f37171 , #611616);
    background-position: 750 0;
    -webkit-background-clip: text;
    animation: backflow 5s linear infinite alternate;
    font-weight: 800;
    font-style: italic;
    font-size: 34px;
   }
   @keyframes backflow{
    100%{
        background-position: 0 0;
    }
   }

   .logo:hover{
    color: black;
   }

   button{
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    margin-right: 20px;
    /* box-shadow: 10px 10px lawngreen, 15px 15px blue, 20px 20px rgb(248, 3, 125); */
    
   }

   .shop{
    color: rgb(250, 204, 144);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
   }

   .benefit{
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
     justify-content: center;
    width: 700px;
    padding-left: 100px;
    margin: auto;
   }

   span{
    color: rgb(245, 183, 101);
    font-style: italic;
    /* background-color: rgb(65, 60, 60); */
   }

   .logo2{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: #140c0c;
    background-image: linear-gradient(#dd4e4e, #680505);
    background-position: 750px 0;
    -webkit-background-clip: text;
    animation: back 5s linear infinite alternate;
    font-size: 30px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
   }
   @keyframes back{
    100%{
        background-position: 0 0;
    }
   }

   .about-section{
    background-color: rgb(243, 217, 183);
    color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 30px;
    gap: 50px;
    width: 600px;
    margin:10px auto;
    border: 2px solid rgb(240, 152, 37);
    border-radius: 40px;
   }

   .about-text h3{
    font-size: 40px;
    padding-bottom: 5px;
    color: #e40808;
   }

   .about-text h4{
    width: 350px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
   }

   .about-text p{
    padding: 0 10px 0 5px;
   }

   .types{
    color: rgb(182, 61, 61);
   }


   .about-text h3{
    font-size: 32px;
   }

   .new-section{
    /* display: flex; */
    background-color: rgba(14, 1, 1, 0.945);
    width: 100%;
   }

   .new-item-text{
    display: flex;
   }

   .img{
    width: 70%;
    
   }

   img{
   /* width: 120px; */
    width: 100%;
    /* height: 120px; */
    
   }

   .new-item-text h2{
    color: #ffffff;
   }

   .Service-item{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 35px;
        grid-row-gap: 0px;
        padding: 5px 20px 100px 20px;

   }

   .service{
    padding: 30px 20px 30px 40px;
    margin: auto;
    text-align: center;
   }

   .para{
    width: 40%;
    color: white;
    text-align: center;
    justify-content: center;
    margin: auto;
    
   }

   .para h2{
    color: #f37171;
    padding-bottom: 30px;
   }

   .para p{
    padding: 5px 10px 60px 10px;
   }

   .btn-btn{
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 30px;
   }

   .Service h2{
    text-align: center;
    justify-content: center;
    color:  #a73a3a;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid brown;
    border-radius: 0 100px;
   }

   .Service-card{
    color: black;
    padding: 20px;
   }
   
   .Service-card h3{
    padding-bottom: 10px;
    color: #140c0c;
    font-size: 25px;
    font-weight: 900;
   }

   .Service-card:hover{
    background-color: #a73a3a;
    border: 10px solid rgb(243, 163, 58);
    border-radius: 0 20px;
   }

   .product-card{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 15px;
        padding-top: 20px;
        background-color: #1a1212;
        height: 100vh;
        }

    .product-card h2{
        color: white;
        text-align: center;
        justify-content: center;
        border: 2px solid rgb(240, 74, 74);
        border-radius:0 50px;
    }

    .nav-btn{
        margin-top: 15px;
        background-color: transparent;
        border: 3px solid red;
        border-radius: 0 20px;
    }

    .nav-btn:hover{
        background-color: #e40808;
        border: none;
        border-radius: none;
    }

    .product-card img{
        border-radius: 20px;
        padding: 2px 5px 2px 5px;
    }
        
    .product-card img:hover{
        border: 5px solid white;
        border-radius: 0 30px;
    }

    .team-card{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* grid-template-rows: ; */
            grid-column-gap: 15px;
            grid-row-gap: 0px;
            padding-top: 50px;
    }

    .team{
        color: black;
        text-align: center;
        justify-content: center;
    }
    